@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
  </head>

  <body>
    <h1>CRUD using REST API</h1>

    <p>
      To see all customers, you can do a <a href="/v1/customers">GET</a>:
    </p>


    <pre>
        <code>http GET localhost:9000/v1/customers</code>
    </pre>

    <p>
      To create new customers, do a POST:
    <p>

    <pre>
        <code>http POST localhost:9000/v1/customers name="name" location="location"</code>
    </pre>

  </body>
</html>
